body {
  background-color: #333333;
}
h1 {
  background-color: #f5f5f5;
  color: black;
  font-size: 4em;
  line-height: 4em;
  text-align: center;
  font-family: 'Schoolbell', cursive;
  border-radius: 25px;
}
.col-xs-4 {
  border: solid 1px black;
  background-color: #f5f5f5;
  color: black;
  height: 100px;
  width: 100px;
  margin: 1px;
  font-size: 5em;
  font-family: 'Schoolbell', cursive;
  text-align: center;
}

#playArea {
  width: 320px;
  margin: auto;
}
